<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (locals.styles) { %>
     <% styles.forEach(style => { %>
      <link rel="stylesheet" href="/public/styles/<%= style %>">
     <% }) %>
    <% } %>
    <link rel="stylesheet" href="/public/styles/responsive.css">
    <link rel="stylesheet" href="/public/styles/look.css">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/public/js/loader.js"></script>
    <script type="module" src="/public/js/app.js"></script>
    <script src="https://kit.fontawesome.com/847debfb6c.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/favicon.ico">
    <title><%= locals.title %> </title>
</head>
<body>
    <%- include("./nav.ejs") %>
