<nav>
    <a href="/">
        <div id="nav-left">
            <img src="../../public/images/ataraxia-pp.png">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247.18 48.53"><defs><style>.cls-1{fill:#FFFFFF;}</style></defs><title>isidora4t4r4xi4</title><path class="cls-1" d="M194.07,310.84h-6v12.53h-2.74V310.84H160.45v-2.16l26.28-32.12h1.37v31.83h6Zm-8.64-2.45V282.11L164,308.39Z" transform="translate(-160.45 -275.7)"/><path class="cls-1" d="M219.63,322.65l-.14.21a8.19,8.19,0,0,1-4.9,1.37c-6,0-10.08-4.32-10.08-12.45v-22H198v-2.37h6.48V276.2l2.45-.5.29.14v11.53h11.81v2.37H207.25v22c0,6.62,2.81,9.93,7.49,9.93a5.73,5.73,0,0,0,3.67-1.08l.29.15Z" transform="translate(-160.45 -275.7)"/><path class="cls-1" d="M255.42,310.84h-6v12.53H246.7V310.84H221.79v-2.16l26.28-32.12h1.37v31.83h6Zm-8.64-2.45V282.11l-21.46,26.28Z" transform="translate(-160.45 -275.7)"/><path class="cls-1" d="M282.63,287.73l-.93,2-.29.07a7.64,7.64,0,0,0-3.6-.79c-5.4,0-10.23,4.75-10.23,12.82v21.53h-2.73V292.19c0-2.23-.8-3.24-2.16-3.24a2.84,2.84,0,0,0-1.8.65l-.29-.07-.65-1.8.07-.22a4.46,4.46,0,0,1,3-1c2.73,0,4.39,1.8,4.39,5v2a11.71,11.71,0,0,1,10.66-7.06,10.32,10.32,0,0,1,4.46.94Z" transform="translate(-160.45 -275.7)"/><path class="cls-1" d="M317.84,310.84h-6v12.53h-2.73V310.84H284.21v-2.16l26.29-32.12h1.36v31.83h6Zm-8.64-2.45V282.11l-21.46,26.28Z" transform="translate(-160.45 -275.7)"/><path class="cls-1" d="M330.51,291.25l9,12.39,12.24-16.27h2.74l.07.28-13.39,17.72,9.5,13.1c1.87,2.52,2.88,3.31,4.18,3.31a2.81,2.81,0,0,0,1.87-.64l.29.07.72,1.8-.15.21a4.22,4.22,0,0,1-3,1c-2.66,0-4.1-1.51-6.41-4.75l-8.93-12.38-12.31,16.27h-2.66l-.15-.29,13.47-17.71L328,292.26c-1.8-2.52-2.88-3.31-4.18-3.31a2.82,2.82,0,0,0-1.87.65l-.29-.07-.65-1.8.08-.22a4.69,4.69,0,0,1,3-1C326.84,286.5,328.28,288.09,330.51,291.25Z" transform="translate(-160.45 -275.7)"/><path class="cls-1" d="M362.33,280.17a3,3,0,1,1,3,2.95A3,3,0,0,1,362.33,280.17Zm4.32,43.2v-36h-2.73v36Z" transform="translate(-160.45 -275.7)"/><path class="cls-1" d="M407.62,310.84h-6v12.53h-2.74V310.84H374v-2.16l26.28-32.12h1.37v31.83h6ZM399,308.39V282.11l-21.46,26.28Z" transform="translate(-160.45 -275.7)"/></svg>
        </div>
    </a>
    <div id="nav-right">
        <a href="/" class="link-hover">HOME</a>
        <a href="/gallery" class="link-hover">GALLERY</a>
        <a href="/about" class="link-hover">ABOUT</a>
        <a href="/contact" class="link-hover">CONTACT</a>
    </div>
    <div class="menu-icon">
        <i class="fa fa-bars"></i>
      </div>
      <ul class="menu">
        <li><a href="/" class="link-hover">HOME</a></li>
        <li><a href="/gallery" class="link-hover">GALLERY</a></li>
        <li><a href="/about" class="link-hover">ABOUT</a></li>
        <li><a href="/contact" class="link-hover">CONTACT</a></li>
        <li class="close"><i class="fas fa-times"></i></li>
      </ul>
</nav>