<%- include('./partials/header.ejs') %>
<div class="page-container">
    <h1 class="page-title big-title">ABOUT</h1>

    <div class="homepage-about">
        <div class="homepage-about-left">
            <p>Welcome, i am 4t4r4xi4 (Ataraxia), french artist/illustrator based in Paris. My universe gravitates around eastern spirituality and mysticism. Passionate about all arts, i am available for any kind of projects.</p>
            <h2>Logiciels</h2>
            <div class="homepage-about-logiciels">
                <img src="../public/images/procreate.jpeg">
                <img src="../public/images/ps.jpeg">
                <img src="../public/images/pr.jpeg">
                <img src="../public/images/ae.jpeg">
                <img src="../public/images/Blender-icon.png">
            </div>
        </div>
        <div class="homepage-about-right">
            <img src="../public/images/ataraxia.jpeg">
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %> 