/** About **/
h1{
    text-align: center;
}
.homepage-about{
    padding: 2%;
    display: flex;
    margin-top: 80px;
}
.homepage-about-logiciels{
    display: flex;
    align-items: center;
}
.homepage-about-logiciels img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}