#video-header{
    width: 100%;
    margin-top: 100px;
}
/**MAIN**/
/**Gallery**/
.homepage-gallery{
    padding: 2%;
}
.homepage-gallery-selector a{
    margin-right: 30px;
}
.homepage-gallery-grid{
    margin-top: 50px;
}
.homepage-gallery-view-all{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.view-all{
    background-color: var(--violet);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    padding: 20px 30px;
    font-size: 1.5rem;
}

.container{
    width: 400px;
    position: relative;
    cursor: pointer;
}
.container img{
    display: block;
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s ;
}

.overlay-blur{
    backdrop-filter: blur(0.7px);
}

.overlay > *{
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.overlay:hover{
    opacity: 1;
}

.overlay:hover > * {
    transform:  translateY(0);
}
/** About **/
.homepage-about{
    padding: 2%;
    display: flex;
    margin-top: 100px;
}
.homepage-about-logiciels{
    display: flex;
    align-items: center;
}
.homepage-about-logiciels img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}


/**Contact**/
.homepage-contact{
    padding: 2%;
    display: flex;
    margin-top: 100px;
}
.social-medias a{
    margin-right: 20px;
}
.social-medias svg{
    width: 80px;
    height: 80px;
    color: var(--rouge);
}

.homepage-contact-right{
    margin-left: 30vh;
}
.homepage-contact-right img{
    height: 80vh;
}

.copy-text button{
    padding: 8px;
    background-color: var(--rouge);
    color: var(--blanc);
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.copy-text button::before{
    content: "Copied";
    position: absolute;
    top: -50px;
    right: 0px;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    display: none;
}
.copy-text button::after{
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    display: none;
}
.copy-text button::before,
.copy-text button::after{
    display: block;
}